ChatClient/generated_files


*.stash

ChatClient/Makefile

.vscode/

build-ChatClient-Desktop-Debug/generated_files/

build-ChatClient-Desktop-Debug/

ChatClient/ChatClient.pro.user

*.autosave

ChatClient/ChatClient.pro.user.sEBOcU

*.dat

ChatClient/ChatClientRelease.zip

ChatClient/ChatClientRelease/

Server/server
